.hot-deals-header{
    text-align: center;
    height: 58px;
    background: #efe3c5;
    box-sizing: border-box;
}
.hot-deals-header > h2{
    margin: 0;
    padding-top: 18px;
    font: 18px open_sanssemibold;
    color: #8d6a16;
}
.hot-deals-header span{
    margin-top: 40px;
}
.hot-deals{
    background: #fff;
    box-sizing: border-box;
}
.hot-deals-wrapper{
    max-width: 1255px;
    margin: auto;
    position: relative;
}
.hd-arrow-left:hover,
.hd-arrow-right:hover{
    cursor: pointer;
}
.hd-arrow-left,
.hd-arrow-right{
    position: absolute;
    width: 45px;
    top: 0;
    left: 0;
    bottom: 0;
}
.hd-arrow-right{
    left: auto;
    right: 0;
}
.hd-arrow-left img,
.hd-arrow-right img{
    position: absolute;
    height: 83px;
    width: 31px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/* hot-deal list  ---------------------------------*/
.hot-deal-container{
    overflow: hidden;
    padding: 17px;
    box-sizing: border-box;
    margin: 0 45px;
}
.hot-deals-list{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 321px;
    &.unwrap {
        flex-wrap: nowrap;
    }
}
.hot-deal:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.hot-deal{
    -webkit-box-flex: 1;
    text-align: center;
    -webkit-flex: 1 0 220px;
    -ms-flex: 1 0 220px;
    flex: 1 0 220px;
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.hot-deal__mark{
    font: 16px open_sanssemibold;
    margin: 0;
    line-height: 48px;
}
.hot-deal__img{
    margin-top: -10px;
    display: inline-block;
}
.hot-deal__price{
    margin-top: -10px;
    height: 60px;
    text-align: center;
}
.hot-deal__price-now{
    display: block;
    font-size: 31px;
    font-family: open_sanssemibold;
    color: #e32327;
}
.hot-deal:hover div .hot-deal__price-before{
    margin-top: -20px;
    color: #aaa;
}
.hot-deal__price-before{
    font-size: 15px;
    text-decoration: line-through;
    color: #777;
}
.hot-deal__book-now:hover{
    background: #f2a622;
}
.hot-deal__book-now{
    width: 151px;
    background: #0073b5;
    border: 0;
    padding: 10px 20px;
    margin-top: 6px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-family: open_sanssemibold;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.hot-deal__location{
    height: 46px;
    text-align: center;
}
.hot-deal__location span{
    line-height: 46px;
    font-size: 14px;
}

@media screen and (max-width: 349px){
    .hot-deals-header{
        font-size: 16px;
    }
}
.carousel-container {
    &::before {
        content: "";
        left: 45px;
        top: 0;
        bottom: 0;
        width: 17px;
        position: absolute;
        z-index: 2;
    }
    &::after {
        content: "";
        right: 45px;
        top: 0;
        bottom: 0;
        width: 17px;
        position: absolute;
        z-index: 2;
    }
}