/* all locations*/

.location-dropdown{
    background: #fff;
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    z-index: 10;
    padding: 11px 0;
}
.all-locations{
    display: none;
}
.all-locations.active{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.all-locations__column{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 24%;
    -ms-flex: 1 1 24%;
    flex: 1 1 24%;
    border-right: 1px #eee solid;
    padding: 0 1px;
}

@media screen and (max-width: 750px) {
    .all-locations__column{
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 49%;
        -ms-flex: 1 1 49%;
        flex: 1 1 49%;
    }
}
@media screen and (max-width: 400px) {
    .all-locations__column{
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
}
.all-locations__column:last-child{
    border: 0;
}
.location-dropdown ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.location-list__item{
    padding: 5px 0 6px 0;
    position: relative;
}
.location-list__item.airport:before{
    content: "\f072";
    font-family: fontawesome;
    position: absolute;
    left: 5px;
    top: 7px;
    color: #777;
}
.location-list__item:hover{
    background: #b2dcff;
    cursor: pointer;
    color: #2b84c0;
}
.location-list__item:hover .plane{
    color: #2b84c0;
}
.plane--show{
    width: 25px;
    display: inline-block;
    font-family: fontawesome, Arial, sans-serif;
    color: #777;
    text-align: center;
    margin-left: 3px;
}
.location-list__location{
    padding-left: 25px;
    display: inline-block;
    font-size: 13px;
    font-family: open_sanslight, Arial, sans-serif;

}
.all-locations__column:nth-child(4) ul li{
    border: 0;
}
.location-dropdown:before,
.autocomplete__box:first-child:before{
    border-width: 0 9px 9px 9px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -9px;
    left: 119px;
    content: "";
}

/*-------------------------------------------------------
                       top locations                     */
.top-locations.active{
    display: block;
}
.top-locations{
    display: none;
    padding: 2px 2px;
}
.top-locations__list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.top-locations__item:first-child{
    margin-left: 0;
}
.top-locations__item{
    display: inline-block;
    white-space: nowrap;
    background: #eee;
    margin-bottom: 2px;
    padding: 0 15px;
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-left: 2px;
    text-align: center;
}
.top-locations__item.airport:after{
    content: "\f072";
    font-family: fontawesome;
    display: inline-block;
    margin-left: 6px;
}

.top-locations__location{
    line-height: 50px;
    font-size: 16px;
    font-family: open_sanssemibold, Arial, sans-serif;
}
.top-locations__item:hover{
    cursor: pointer;
    background: #b2dcff;
    color: #0073b5;
}
.top-locations__item:hover .plane--top{
    color: #0073b5;
}
.top-show-all,
.top-show-all--city{
    display: block;
    height: 44px;
    text-align: center;
    color: #0073b5;
}
.top-show-all:hover,
.top-show-all--city:hover{
    cursor: pointer;
    background: #b2dcff;
}
.top-show-all-locations,
.top-show-all--city-location{
    line-height: 44px;
    color: #00507e;
    font-family: open_sanssemibold, Arial, sans-serif;
    font-size: 14px;
}

/*-------------------------------------------------------

                        locations                       */
.locations.active{
    display: block;
}
.locations{
    display: none;
    width: 206px;
    left: 150px;
    padding: 8px 2px;
}
.locations::before,
.all-cities::before{
    left: 14px;
}
.locations__item,
.all-cities__item{
    width: 206px;
    line-height: 33px;
}
.locations__item:hover,
.all-cities__item:hover{
    background: #b2dcff;
    cursor: pointer;
}
.locations__item span,
.all-cities__item span{
    margin-left: 16px;
    font-size: 13px;
}

/*-------------------------------------------------------
                    all cities                       */

.all-cities.active{
    display: block;
    left: 150px;
}
.all-cities{
    display: none;
    height: 226px;
    width: 206px;
    padding: 10px 2px;
}
.all-cities__list{
    position: relative;
    height: 100%;
}

/*-------------------------------------------------------
                        top cities                       */

.top-cities.active{
    display: block;
}
.top-cities{
    display: none;
    padding: 2px 2px;
}
.top-cities__list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.top-cities__item:first-child{
    margin-left: 0;
}
.top-cities__item:hover{
    cursor: pointer;
    background: #b2dcff;
    color: #0073b5;
}
.top-cities__item{
    display: inline-block;
    white-space: nowrap;
    background: #eee;
    margin-bottom: 2px;
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-left: 2px;
    text-align: center;
}
.top-cities__city{
    line-height: 50px;
    font-size: 16px;
    font-family: open_sanssemibold, Arial, sans-serif;
    margin: 0 15px;
}
.top-show-all--city{
    display: block;
}

/*  -----            autocomplete                       */

.autocomplete.active{
    display: block;
}

.autocomplete__box:nth-child(1)::before{
    left: 10px;
}
.autocomplete{
    display: none;
    position: absolute;
    right: 298px;
    left: 0;
    top: 57px;
    z-index: 2;
}
@media screen and (max-width: 830px){
    .autocomplete{
        right: 0;
    }
}
.autocomplete__box{
    position: relative;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
.airport-auto:hover{
    background: #e8e8e8;
    cursor: pointer
}
.airport-auto{
    margin: 2px 2px 0;
    padding-left: 30px;
    position: relative;
}
.airport-auto.airport:before{
    content: "\f072";
    font-family: fontawesome, Arial, sans-serif;
    position: absolute;
    top: 10px;
    left: 7px;
    color: #777;
}
.autocomplete-main-loc{
    line-height: 41px;
    display: inline-block;
    font-size: 16px;
    margin: 0;
}
.autocomplete-main-loc span{
    font-family: open_sanssemibold, Arial, sans-serif;
    font-size: 16px;
}
.autocomplete-main-loc span:last-child{
    color: #c3c3c3;
    font-family: open_sansregular, Arial, sans-serif;
}
.autocomplete-show:hover{
    cursor: pointer;
    background: #e8e8e8;
}
.autocomplete-show{
    height: 33px;
    margin: 0 2px;
    background: #f6f6f6;
}
.country_phones__item__flag--auto{
    float: left;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 2px;
}
.country_phones__item__flag--auto img{
    height: 9px;
    width: 16px;
    margin: 0;
}
.auto-state{
    line-height: 33px;
    font-size: 13px;
    font-family: open_sanssemibold, Arial, sans-serif;
    color: #b1b1b1;
}
.auto-state span{
    color: #000;
}
.show-all,
.more-locations{
    float: right;
    margin-right: 10px;
    line-height: 33px;
    color: #828282;
    font-size: 13px;
}
.fa-angle-double-right{
    font-family: fontawesome, Arial, sans-serif;
}
.autocomplete-show__airport:hover,
.autocomplete-show__airport--box2:hover{
    background: #e8e8e8;
    cursor: pointer;
}
.autocomplete-show__airport,
.autocomplete-show__airport--box2{
    height: 41px;
    border-bottom: 1px #ddd solid;
    margin: 0 2px;
}
.plane--show{
    font-size: 13px;
    margin-left: 28px;
}
.ac-airport{
    display: inline-block;
    margin: 0;
    line-height: 41px;
    font-family: open_sanslight, Arial, sans-serif;
    font-size: 13px;
}
.ac-airport span{
    font-family: open_sanssemibold, Arial, sans-serif;
}
.ac-other{
    height: 40px;
    margin: 0 2px;
}
.ac-other:hover{
    background: #b2dcff;
    cursor: pointer;
    color: #1a5880;
}
.ac-other__place{
    margin: 0 0 0 34px;
    line-height: 40px;
}
.ac-other__place span{
    font-family: open_sanssemibold, Arial, sans-serif;
}
.autocomplete__box:nth-child(2){
    top: 20px;
}
.ac-capital-city:hover{
    cursor: pointer;
    background: #e8e8e8;
}
.ac-capital-city{
    height: 32px;
    margin: 5px 2px 0;
}
.capital-city{
    line-height: 32px;
    font-family: open_sanssemibold, Arial, sans-serif;
    margin-left: 33px;
}
.capital-city-state{
    line-height: 32px;
    color: #b7b7b7;
}
.show-all-locations{
    display: inline-block;
    float: right;
}
.autocomplete-show__airport--box2{
    height: 41px;
    margin: 0 2px;
    border: 0;
}

.cc-place{
    height: 38px;
    font-size: 13px;
    font-family: open_sanslight, Arial, sans-serif;
    margin: 0 2px;
}
.cc-place:hover{
    background: #b2dcff;
    cursor: pointer;
    color: #1a5880;
}
.cc-place__place{
    line-height: 38px;
    margin-left: 59px;
}
.more-locations:hover{
    background: #e8e8e8;
    cursor: pointer;
}
.more-locations{
    float: none;
    margin: 0 2px;
    height: 45px;
}
.fa-angle-double-right--more{
    font-family: fontawesome, Arial, sans-serif;
    margin-left: 60px;
    line-height: 45px;
}
