.other-links{
    background: #f6f6f6;
    clear: both;
}
.other-links__header{
    padding: 25px 0 20px;
    border-bottom: 2px #ddd solid;
}
.other-links__header h2{
    font-family: open_sanssemibold;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.other-links__list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 2px #ddd solid;
}
.other-link__box{
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 220px;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
    margin-bottom: -1px;
}
.other-links__list__item:hover{
    cursor: pointer;
    background: #e6e6e6;
}
.other-links__list__item{
    line-height: 39px;
    border-bottom: 1px #ddd solid;
    color: #444;
    font-size: 13px;
}
@media screen and (max-width: 950px){
    .other-link__box{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
    }
}
@media screen and (max-width: 450px){
    .other-link__box{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        text-align: center;
    }
}
.other-links__footer{
    font-size: 13px;
    color: #777;
    text-decoration: none;
    margin: 18px 0 22px;
    display: inline-block;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.other-links__footer:hover{
    color: #444;
}
.other-links__footer:before{
    content: "\f101";
    font-family: fontawesome;
    display: inline-block;
    margin-right: 5px;
}
