.quick-about{
    padding-bottom: 35px;
}
.quick-about__header{
    text-align: center;
    border-bottom: 4px #eee solid;
    color: #777;
}
.quick-about__header-text{
    font-size: 32px;
    font-weight: normal;
    margin: 25px 0;
}
.why-book{
    width: 660px;
    float: left;
    padding-bottom: 19px;
}
.why-book__header{
    font: 22px open_sanssemibold;
    line-height: 70px;
    margin: 0;
    padding: 0;
}
.why-book__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.why-book__list__item{
    display: inline-block;
    width: 327px;
    vertical-align: top;
    margin-bottom: 16px;
}
.why-book__list__item span{
    font-family: fontawesome;
    color: #0073b5;
    margin-right: 7px;
    height: 30px;
    float: left;
    font-size: 20px;
}
.why-book__list__item p{
    display: inline-block;
    width: 270px;
    margin: 0;
    font-size: 15px;
}
.why-book__list__item img:hover{
    cursor: pointer;
}
.why-book__list__item:last-child{
    margin-top: -25px;
}
.review-center{
    width: 298px;
    height: 203px;
    float: right;
    margin-top: 31px;
    border: 1px #eee dashed;
    box-sizing: border-box;
}
.review-head{
    height: 40px;
    font-size: 14px;
}
.review-user{
    line-height: 40px;
    font-family: open_sanssemibold;
    margin-left: 14px;
}
.review-rating{
    font-family: fontawesome;
    float: right;
    line-height: 40px;
    margin-right: 14px;
    color: #ffcd4a;
}
.review-text{
    max-height: 96px;
    overflow: hidden;
    font-size: 13px;
    margin: 2px 14px;
}
.review-center a{
    font-size: 13px;
    margin-left: 14px;
    vertical-align: top;
    color: #0073b5;
}
.review-center img:hover{
    cursor: pointer;
}
.review-center img{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.quick-info-block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    clear: both;
    background: #eee;
}
.quick__questions{
    font-size: 16px;
    text-align: center;
    padding: 20px 30px;
    box-sizing: border-box;
}
.quick__questions h3{
    font-size: 18px;
    color: #444;
    margin-top: 0;

}
.quick__questions p{
    font-size: 14px;  color: #444;

}
.quick__questions p a{
    color: #0073b5;
}
.question-button:hover,
.stay-tuned-button:hover{
    background: #0084cf;
}
.question-button,
.stay-tuned-button,
.stay-tuned-button--footer{
    height: 42px;
    width: 100%;
    outline: 0;
    padding: 0;
    border: 0;
    background: #0073b5;
    color: #fff;
    border-radius: 4px;
    margin-top: 15px;
}
.contact-by-email{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #0073b5;
}
.quick__social{
    background: #ddd;
    text-align: center;
    padding: 0 10px 20px;
}
.book-by-phone{
    border-bottom: 1px #8c8c8c dashed;
    display: inline-block;
    padding-bottom: 12px;
}
.book-by-phone h3{
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 14px;
}
.book-by-phone h2{
    font-size: 28px;
    color: #0073b5;
    margin: 0;
}
.quick__social p{
    color: #8c8c8c;
}
.quick__social span:hover{
    cursor: pointer;
    color: #999;
}
.quick__social span{
    font-family: fontawesome;
    font-size: 34px;
    margin: 0 10px;
    color: #8c8c8c;
}
.quick__stay-tuned{
    box-sizing: border-box;
    padding: 20px 29px;
    text-align: center;
}
.quick__stay-tuned h3{
    font-size: 18px;
    color: #444;
    margin: 0;
}
.quick__stay-tuned span{
    font-size: 14px;
    color: #444;
    margin-top: 7px;
}
.enter-email,
.enter-mail--footer{
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: 40px;
    margin-top: 10px;
    padding-left: 8px;
    border: 1px transparent solid;
}
.quick__stay-tuned input::-webkit-input-placeholder { font-size: 14px; }
.quick__stay-tuned input::-moz-placeholder { font-size: 14px; }
.quick__stay-tuned input:-ms-input-placeholder { font-size: 14px; }
.quick__stay-tuned input:-moz-placeholder { font-size: 14px; }

@media screen and (max-width: 999px){
    .quick-about__header-text{
        font-size: 26px;
    }
    .why-book{
        width: 50%;
        box-sizing: border-box;
        padding-right: 20px;
    }
    .why-book__list__item{
        width: 100%;
        white-space: nowrap;
    }
    .why-book__list__item p{
        width: auto;
        white-space: normal;
        margin-right: 15px;
    }
    .why-book__header{
        font-size: 16px;
    }
    .why-book__list__item:last-child{
        margin-top: 0;
    }
    .review-center{
        margin-top: 32px;
        float: left;
        width: 50%;
    }
    .enter-mail{
        font-size: 16px;
    }
    .quick-info-block{
        height: auto;
        text-align: center;
    }
    .enter-email{
        margin-top: 10px;
    }
}
@media screen and (max-width: 840px){
    .quick-info-block{
        flex-direction: column;
    }
    .quick-info-block .col-4{
        width: 100%;
    }
    .quick__social{
        padding: 0 0 30px;
    }
}
@media screen and (max-width: 640px){
    .review-center{
        width: 100%;
        margin-bottom: 20px;
    }
    .why-book{
        width: 100%;
        padding: 0;
    }
}